.loginContainer,
.container {
    display: grid;
    grid-template-columns: 1fr;
}
#logoPreview{
    width: 100%;
    height: 100%;
 -webkit-animation: fadeOut 1s forwards;
    animation: fadeOut 1s forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

@-webkit-keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}
#logoPreview img{
    margin: 200px auto;
    width: 70%;
    display: block
}
.loginContainer {
    width: 100%;
    height: 100%;
    display: none;
    margin: auto;
}

.loginContainer img {
    width: 250px;
    margin: 50px auto 0;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    margin: 0 auto 0;
    width: 250px;
}

.container > * {
    margin: 10px 0;
    padding: 10px;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

.container label {
    color: #396057;
    margin: 0;
    padding: 0;
}

.container input {
    color: #B5D6B1;
    border: 2px solid #B5D6B1;
}

.container .button,
#login-button {
    margin-top: 10px;
    background-color: #B5D6B1;
    text-align: center;
}
#login p{
    margin: 100px 20% 20px;
    display: block;
}

#login-button {
    text-align: center;
    padding: 15px;
    color: #396057;
    border-radius: 15px;
    font-size: 1.6rem;
    display: block;

    margin: 200px auto 0;
}
audio{
    margin: auto;
    display: block;
}
.container .button:active {
    opacity: 0.7;
}

.profile {
    color: #B5D6B1;
    margin:  auto 0;
    display: grid;
    grid-template-columns: 1fr;
}

.profile h2 {
    color: #396057;
    margin:0 0 0 10%;
}

.row span {
    color: #396057;
    font-size: 2rem;
}

.row {
    margin: 0 auto;
}

.logOut i {
    color: #B5D6B1;
    font-size: 4rem;
    margin: 15px 10px 0;
    text-align: right;
    display: block;
}

.logOut i:hover {
    cursor: pointer;
}

.logoOut i:active {
    color: #396057;
}

.alert {
    color: #396057;
    position: absolute;
    width: 250px;
    height: 120px;
    top: 40%;
    text-align: center;
    left: 50%;
    display: block;
    margin-left: -125px;
    background-color: white;
    border-radius: 25px;
    border: 2px solid #B5D6B1;
    display: none;
    z-index: 100;
}

.alert button {
    padding: 10px;
    margin: 0 15px;
    border-radius: 15px;
    font-size: 1.6rem;
    color: #396057;
    background-color: white;
    border: 2px solid #B5D6B1;
}

.alert button a {
    color: #396057;
    text-decoration: none;
}

.alert button:active {
    background-color: #B5D6B1;
}

.alert button a:active {
    background-color: #B5D6B1;
}

infoWrap {
    position: absolute;
    top: 0;
    left: 0;
}

.containerNotes {
    position: relative;
    margin: 30px 10px;
}


.containerNotes input {
    border: 1px solid transparent;
    padding: 0px 20px;
    width: 90%;
    color: #396057;
    font-size: 4rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    margin: 10px 0 ;
    resize: horizontal;
}

.containerNotes input[type=text] {
    margin:0 0 0 20px ;
    position: relative;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #B5D6B1;
    color: #B5D6B1;
    font-size: 1.6rem;
    width: 80%;
}

.input-group {
    display: inline-block;
    width: 100%;
}

.input-group button {
    border: 2px solid #B5D6B1;
    padding: 15px;
    height: 100%;
    margin: 0;
    color: #396057;
    background-color: inherit;
    float: right;
    border-radius: 10px;
}

.input-group button i {
    padding: 0;
    margin: auto;
    color: #396057;
    font-size: 2.7rem;
}

.containerNotes ul {
    margin-left: 0;
    padding: 0;
}

.containerNotes ul li {
    padding: 10px;
    width: 80%;
    margin: 5px auto;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: #396057;
    list-style-type: none;
}

.removed {
    background-color: rgba(181, 214, 177, 0.3);
}

label {
    display: block;
}

.containerNotes i {
    float: right;
    margin: 15px 0;
    padding: auto 0;
}
.my-notes{
    margin:  0;
}

.my-notes ul {
    list-style: none;
    margin: 0 10% 0 0;
}

.my-notes ul li {
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    color: #396057;
    padding: 4px;
    margin: 0;
    /*        border: 1px solid #B5D6B1;*/

}
.my-notes h2{
    padding-left: 40px;
}

hr {
    border: 0.5px solid #B5D6B1;
}

.fa-arrow-right {
    float: right;
    color: #B5D6B1;
}

#app,
#app1,
#app2,
#app3 {
    display: none;
}

.left {
    display: block;
    text-align: left;
}

#left, #left1, #left2, #left3 {
    font-size: 3rem;
    color: #B5D6B1;
    position: relative;
    float: left;
    text-align: left;
}
.disp-img{
    background-size: cover;
    background-position: center;
    width: 80%;
    margin: 10px auto;
    height: 150px;
    border-radius: 15px;
    
}
#img1{
    background-image: url(../data/brandi-redd-122054-unsplash.jpg);
}
#img2{
    background-image: url(../data/david-jorre-477050-unsplash.jpg);
}
#img3{
    background-image: url(../data/olia-gozha-678463-unsplash.jpg);
}.text-box {
    padding: 30px 10px 0 ;
}

.text-box h3{
    font-size: 1.9rem;
}
.links-containers i {
    font-size: 3rem;
    margin-top: -20px;
    padding-right: 10px;
        color: #396057;
}

.container h4{
    text-align: center;
     color: #396057;
    font-size: 2rem;
    margin-bottom: 0px;
    font-weight: bold;
}
@media only screen and (max-width: 630px) {
    .containerNotes input[type=text] {
        width: 79%;
    }
}

@media only screen and (max-width: 600px) {
    .containerNotes input[type=text] {
        width: 75%;
    }
}

@media only screen and (max-width: 500px) {
    .containerNotes input[type=text] {
        width: 70%;
    }
}

@media only screen and (max-width: 430px) {
    .containerNotes input[type=text] {
        width: 64%;
    }@media only screen and (max-width: 360px) {
    .containerNotes input[type=text] {
        width: 60%;
    }
