.loginContainer,
.container {
    display: grid;
    grid-template-columns: 1fr;
}

.loginContainer {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}

.loginContainer img {
    width: 250px;
    margin: 80px auto 0;
    display: block;
}

.container {
    margin: 0 auto 0;
    width: 250px;
}

.container > * {
    margin: 10px 0;
    padding: 10px;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

.container label {
    color: #396057;
    margin-bottom: 0;
    padding-bottom: 0;
}

.container input {
    color: #B5D6B1;
    border: 2px solid #B5D6B1;
}

.container input[type=checkbox] {
    margin-right: 5px;
    border: 1px solid #B5D6B1;
}

.container button {
    margin-top: 30px;
    background-color: #B5D6B1;
}

.container button:active {
    opacity: 0.7;
}

.profile {
    color: #B5D6B1;
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: 1fr;
}

.profile img {
    width: 200px;
    margin: auto;
}

.profile h1 {
    color: #396057;
    margin: 1em auto 0;
    font-size: 3.8rem;
}

.row span {
    color: #396057;
    font-size: 2rem;
}

.row {
    margin: 0 auto;
}

.logOut i {
    color: #B5D6B1;
    font-size: 4rem;
    margin: 50px 10px 0;
    text-align: right;
    display: block;
}

.logOut i:hover {
    cursor: pointer;
}

.logoOut i:active {
    color: #396057;
}

.alert {
    color: #396057;
    position: absolute;
    width: 250px;
    height: 120px;
    top: 40%;
    text-align: center;
    left: 50%;
    display: block;
    margin-left: -125px;
    background-color: white;
    border-radius: 25px;
    border: 2px solid #B5D6B1;
    display: none;
    z-index: 100;
}

.alert button {
    padding: 10px;
    margin: 0 15px;
    border-radius: 15px;
    font-size: 1.6rem;
    color: #396057;
    background-color: white;
    border: 2px solid #B5D6B1;
}

.alert button a {
    color: #396057;
    text-decoration: none;
}

.alert button:active {
    background-color: #B5D6B1;
}

.alert button a:active {
    background-color: #B5D6B1;
}

infoWrap {
    position: absolute;
    top: 0;
    left: 0;
}

.containerNotes {
    position: relative;
    margin: 100px 10px;
    width: 90%;
}

.containerNotes h2 {}

.containerNotes input[type=text] {
    margin: 0 auto;
    display: block;
    position: relative;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid #B5D6B1;
    color: #B5D6B1;
    font-size: 1.6rem;
}

.containerNotes input {
    border: 1px solid transparent;
    width: 80%;
    padding: 20px;
    color: #396057;
    font-size: 4rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    margin: 20px 0 10px;
    resize: horizontal;
}

.containerNotes input[type=checkbox] {
    width: auto;
    font-size: 1.6rem;
}
.containerNotes ul {
    margin-left: 0;
    padding: 0;
}

.containerNotes ul li {
    padding: 10px;
    width: 80%;
    margin: 5px auto;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: #396057;
    list-style-type: none;
}

.removed {
    background-color: rgba(181, 214, 177, 0.3);
}

label {
    display: block;
}
.containerNotes i {
    float: right;
    margin: auto 0;
    padding: auto 0;
    display: none;
}