html, body{
padding: 0;
margin: 0;
font-size: 62.5%;
transition: 0.25s;
}

body {
    max-width: 1024px;
}

h1,
h2,
h3 {
    font-family: 'Ubuntu', sans-serif;

}
h1{
    font-size: 5.0rem;
}
h2{
    font-size: 4.0rem;
}
h3{
    font-size: 3.0rem;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
}

@media only screen and (max-width: 400px) {
    body {}
}
